html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: "Font name", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: $white;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1170px;
}

// BEM Helper

.flex {
  display: flex;

  &--a-center {
    align-items: center;
  }

  &--j-space {
    justify-content: space-between;
  }

  &--j-center {
    justify-content: center;
  }
}

.block {
  display: block;
}

.fz0 {
  font-size: 0;
}

.list-reset {
  list-style-type: none;
}